services:
  - type: web
    name: api-ecommerce
    env: docker
    region: singapore
    plan: free
    branch: main
    repo: https://github.com/Mjnhdi35/api_ecommerce 
    dockerfilePath: ./Dockerfile
    healthCheckPath: /
    autoDeploy: false
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
      - key: DATABASE_URL
        sync: false
